<%- include("partials/header") %>

<div class="jumbotron-centered">
    <div class="container">
        <h1 class="display-3">secrets</h1>
        <p class="lead">dont keep ur secret, share it here</p><hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">register</a>
        <a class="btn btn-light btn-lg" href="/login" role="button">login</a>


    </div>
</div>