<%- include("partials/header") %>
<div class="jumbotron text-center">
    <div class="container"></div>
    <h1 class="display-3">you have discovered my secret</h1>
    <p class=secret-text> steno is my hero</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">log out</a>
    <a class="btn btn-light btn-lg" href="/submit" role="button">submit a secret</a>


</div>
<%- include("partials/footer") %>