<%- include("partials/header") %>
<div class="container">
    <div class="jumbotron centered">
        <h1 class="display-3">secrets</h1>
        <p class="lead">dont keep ur secret, share them anonymously</p><hr>
        <form action="/submit" method="POST">
<div class="form-group">
    <input type="text" class="form-control text-center" name="secret" placeholder="what ur secret"> 

</div>
<button type="submit" class="btn btn-dark"></button
    >
        </form>

    </div>
</div>
<%- include("partials/header") %>